@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --cal-bar-color: #08864a;
  --primary-color: #E8C364;
  --item-color: #e6e6e6;
  --text-black: rgba(0,0,0,0.8);
  --background-color: #edefe9;
}